.bg-vid {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-vid video {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.eff {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.247);
}
.vid-text {
  color: aquamarine;
  z-index: 2;
}
